@model IEnumerable<Student>


<div>
    <a asp-controller="Student"
       asp-action="Add">Add</a>
</div>
<div>
    <table>
        <tr>
            <td>ID</td> <td>First Name</td> <td> Last Name</td> <td>Age</td> <td>Action</td>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td> <td>@student.Name</td> <td>@student.LastName</td> <td>@student.Age</td>
                <td> <a 
                         asp-controller="Student"
                         asp-action="Delete"
                         asp-route-id="@student.Id">Delete</a>
                     <a
                        asp-controller="Student"
                        asp-action="Update"
                        asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
